* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

#header {
  background-image: url(assets/img/header-bg-DFUj3b_D.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#card__img::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: black;
  opacity: 0;
  z-index: 2;
  transition: all 0.2s ease;
}

#card__img:hover:after {
  opacity: 0.7;
}

#card__img:hover #card__info {
  opacity: 1;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
