* {
  font-family: "Poppins", sans-serif;
}

#header {
  background-image: url(../img/header-bg.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#card__img::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: black;
  opacity: 0;
  z-index: 2;
  transition: all 0.2s ease;
}

#card__img:hover:after {
  opacity: 0.7;
}

#card__img:hover #card__info {
  opacity: 1;
}
